<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- Para add origem de pacote local em Desenvolvimento; -->
		<!-- <add key="local" value="C:\nuget\packages" /> -->
	</packageSources>

</configuration>